################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/Procedimientos/.vs/Procedimientos/v16/Server/sqlite3/db.lock
